<!doctype html>
<html lang="fr">
    <head>
            <meta charset="utf-8">
            <title>{% block titre %} {% endblock %}</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
            <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

            <!-- Square card -->
<style>
  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }
  </style>
  
        </head>
<body>
        <div class="mdl-layout mdl-js-layout">
                <header class="mdl-layout__header mdl-layout__header--scroll">
                  <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Web Interface
                    
                    </span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                      <a class="mdl-navigation__link" href="">Link</a>
                      <a class="mdl-navigation__link" href="">Link</a>
                      <a class="mdl-navigation__link" href="">Link</a>
                      <a class="mdl-navigation__link" href="">Link</a>
                    </nav>
                  </div>
                </header>
                <div class="mdl-layout__drawer">
                  <span class="mdl-layout-title">Site Monitoring</span>
                  <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                  </nav>
                </div>
                {% block body %} 
                <main class="mdl-layout__content">
                  <div class="page-content">
                    <!-- Your content goes here -->
                  
                  </div>
                </main>
                {% endblock %}
              </div>
              
</body>
</html> 